.fwd-panel DOTAHeroImage {
	height: 60px;
	width: 100px;
	margin-left: 10px;
}

#hero-selector Button {
	vertical-align: center;
	width: 25px;
}

.two-button-row Button {
	width: 120px;
}

DOTAItemImage {
	height: 60px;
	width: 100px;
}

#item-selector Button {
	vertical-align:center;
	width: 25px;
}

#item-give-button Button {
	width: 200px;
}

.TickBox {
	width: 18px;
	height: 18px;
	background-color: black;
	border: 2px solid #5e686966;
}

ToggleButton Label {
	horizontal-align: left;
	margin-left: 40px;
	margin-top: 5px;
}

ToggleButton:selected .TickBox {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e7f6f5 ), to( #a0d6d7 ) );
}

#rune-row Button {
	margin-left:10px;
}

.SectionHeaderLineNoMargin {
	height:2px;
	width:100%;
	background-color:#3b3f40;
	margin-top: 2px;
	margin-bottom: 12px;
}

.fwd-hero-select-panel {
	margin-top: 150px;
	margin-left: 350px;
	padding-right: 5px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	border: 2px solid #32383677;
	color: #939da0;
	font-size: 24px;
	padding-bottom: 20px;
}

.fwd-hero-select-panel Panel {
	flow-children: right;
	margin-top: 10px;
}

.fwd-hero-select-panel DOTAHeroImage {
	width: 50px;
	height: 70px;
}

.fwd-hero-select-attribute-row Button {
	width: 50px;
	height: 70px;
	margin-left: 5px;
}

.fwd-item-select-panel {
	margin-top: 150px;
	margin-left: 350px;
	padding-right: 5px;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 25%, from( #232326 ), to( #1c1d20 ) );
	border: 2px solid #32383677;
	color: #939da0;
	font-size: 24px;
	padding-bottom: 20px;
}

.fwd-item-select-panel Panel {
	flow-children: down;
	margin-left: 10px;
}

.fwd-item-select-attribute-row Button {
	width: 50px;
	height: 40px;
	margin-top: 5px;
}

.fwd-icon {
	width:55px;
	height:35px;
	margin-left:150px;
	margin-top:15px;
	color: #939da0;
	font-size: 24px;
}
