.hero-bar-block {
	horizontal-align: center;
	vertical-align: top;

	height: 50px;
	width: 830px;
	/*border: 2px solid #0000FFFF;*/
}

.hero-bar-block Button {
	width: 65px;
	height: 100%;
	/*border: 2px solid #00FF00FF;*/
}

#hero-bar-block-buttons {
	height: 50px;
	width: 320px;
	/*border: 2px solid #FFFF00FF;*/
	flow-children: right;
	visibility: collapse;
}	

.dire-block {
	horizontal-align: right;
}

.radiant-block {
	horizontal-align: left;
}

.AltPressed {
	visibility: collapse;
}
