.panel-hidden {
	position: -100% 0 0;
	width: 0px;
	height: 0px; 
}
.history-panel {
	width: 600px;
	height: 800px;
	margin-top: 54px;
	background-color: black;
}
.title-panel {
	flow-children: right;
	margin-top: 8px;
	margin-left: 10px;
	height: 24px;
}
.player-panel {
	flow-children: right;
	height: 70px;
	border-top: 1px solid grey;
}
DOTAHeroImage {
	height: 50px;
	width: 88px;
	vertical-align: center;
	margin-left: 10px;
}

.score {
	width: 100px;
	vertical-align: center;
}

.count {
	width: 100px;
	vertical-align: center;
}

.winrate {
	vertical-align: center;
}

Label {
	font-size: 18px;
	color: white;
}

DOTAUserName {
	vertical-align: center;
	margin-left: 10px;
	width: 200px;
	max-width: 200px;
	text-overflow: ellipsis;
}

.subpanel-hidden {
	visibility: collapse;
}
