.tour-spectator-panel-root {
	vertical-align: bottom;
	height: 245px;
	width: 245px;
	/*background-color: grey;*/
	/*margin-bottom: 300px;*/
	/*opacity: 0.5;*/
}

.tour-spectator-panel-root Image {
	transform: scaleX(1.05) scaleY(1.05);
}

.tour-spectator-panel-root.panel-hidden-for-real {
	width: 0;
	height: 0;
}
